/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./styles/globals.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Ubuntu";
    src: local('Ubuntu'), url(/_next/static/media/Ubuntu.0225e0a3.ttf) format('truetype');
    font-display: auto;
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: local('Ubuntu'), url(/_next/static/media/Ubuntu-Bold.7d3b73ca.ttf) format('truetype');
    font-display: auto;
}
